/* 表示切替 */
.selectbox-container {
    width: 100%; /* 親要素の最大幅 */
    margin: 0 auto; /* 中央揃え */
}

.selectbox-1 {
    position: relative;
    width: 100%; /* 親要素に合わせて幅を100%に */
}

.selectbox-1 select {
    font-weight: 600;
    appearance: none;
    width: 100%; /* 幅を100%に */
    height: 2.8rem; /* 高さ */
    padding-top: 0.4rem;
    padding-bottom: 0.4rem; 
    padding-left: 0.4rem; /* 左右のパディング */
    border: none;
    border-radius: 3px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    box-sizing: border-box; /* パディングを含めた幅計算 */
}

.selectbox-1::before,
.selectbox-1::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.selectbox-1::before {
    display: inline-block;
    right: 0;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 3px 3px 0;
    background-color: #2589d0;
}

.selectbox-1::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.selectbox-1 select:focus {
    outline: 2px solid #2589d0;
}

