body{
    background-color: white;
    width: 100%;
    margin: 0;
}

.main{
    width: 100%;
    margin: 0;
}
/*headerのデザイン*/
header{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 5vw;
    top: 0;
    margin-left: 0;
    z-index: 9999;
}

.fixed{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    height: 7vw;
}

/*headerの左部分*/
.logo{
    width: 15vw;
    aspect-ratio: 3/1;
    float: left;
    min-width: 100px;
}

.logo img{
    width: 100%;
    margin: 1%;
}

/*headerの右部分(languageなど)*/
.fixed_right{
    width: 4vw;
    aspect-ratio: 1/1;
    float: right;
    min-width: 25px;
}

.fixed_right img{
    width: 80%;
    margin: 10%;
    filter: brightness(0) saturate(100%) invert(65%) sepia(42%) saturate(716%) hue-rotate(64deg) brightness(93%) contrast(92%);
}

