body{
    background-color: white;
    width: 100%;
    margin: 0;
    padding-top: 7vw; /*headerが重ならないように*/
}

.container{
    width: 100%;
    margin: 0;
}

.main{
    width: 100%;
    margin: 0;
}

/*headerのデザイン*/
.header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    height: 10vw;
    top: 0;
    margin-left: 0;
}

.fixed{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    height: 7vw;
}

.logo{
    width: 15vw;
    aspect-ratio: 3/1;
    float: left;
    min-width: 100px;
}

.logo img{
    width: 100%;
    margin: 1%;
}

.fixed_right{
    width: 4vw;
    aspect-ratio: 1/1;
    float: right;
    min-width: 25px;
}

.fixed_right img{
    width: 80%;
    margin: 10%;
}

