body{
    background-color: white;
    width: 100%;
    margin: 0;
}

.container{
    width: 100%;
    margin: 0;
}

.main{
    width: 100%;
    margin: 0;
}

/*headerのデザイン*/
.header{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 1em;
    margin-left: 0;
}

.fixed{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    /*padding-top: ;*/
}

.logo{
    margin: auto;
    width: 10%;
    float: left;
}

