body{
    background-color: white;
    width: 100%;
    margin: 0;
}

.container{
    width: 100%;
    margin: 0;
}

.main{
    width: 100%;
    margin: 0;
}

/*headerのデザイン*/
.fixed{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    /*padding-top: ;*/
}

/*headerの左部分*/
.logo{
    margin: auto;
    width: 10%;
    float: left;
    /*background-color: aqua;*/
}

/*headerの右部分(languageなど)*/
.fixed_right{
    width: 10%;
    float: right;
}

/*type-menu(図鑑，植物マップ)の全体の大きさ指定*/
.type-menu{
    position: absolute;
    display: inline-block;
    background: #D4FFCD;
    /*height: 3.8em;
    min-width: 0;
    padding: 1.2em 0.8em 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 1.2;
    border-radius: 3px;*/
    width: 100%;
    top: 2em;
    padding-top: 1em;
    padding-left: 5%;
    border-bottom: solid 0.1em #C8C8C8;
}

/*type-menuの各要素type activeの配置*/
.type_active1{
    position: relative;
    float: left;
    display: inline;
    width: 30%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 1em;
    bottom: 0;
    background-color: #ffffff;
    color: #E02F24;
    border-top: solid 0.1em #C8C8C8;
    border-right: solid 0.1em #C8C8C8;
    border-left: solid 0.1em #C8C8C8;
    border-bottom: solid 0.1em #ffffff;
}

.type_active2{
    position: relative;
    float: left;
    display: inline;
    width: 30%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 1em;
    background: #D4FFCD;
    color: #1BC92D;
}

.type_active3{
    position: relative;
    float: left;
    display: inline;
    width: 30%;
    text-align: center;
    padding-top: 1em;
    margin-top: auto;
    margin-bottom: auto;
    background: #D4FFCD;
    color: #DAC967;
}

.kisetu{
    position: absolute;
    height: 3.4em;
    margin-top: 2.8em;
    width: 100%;
    float: left;
    font-size: 2.5em;
    border-bottom: solid 0.1em #FF00A8;
}

.spring{
    display: inline;
    width: 10%;
    float: inline-start;
    text-align: center;
    overflow: hidden;
    padding-left: 20%;
    color: #FF00A8;
}

.summer{
    display: inline;
    width: 10%;
    float: inline-start;
    text-align: center;
    overflow: hidden;
    color: #1CCF4E;
}

.autumn{
    display: inline;
    width: 10%;
    float: inline-start;
    text-align: center;
    overflow: hidden;
    color: #F38927;
}

.winter{
    display: inline;
    width: 10%;
    float: inline-start;
    text-align: center;
    overflow: hidden;
    color: #8A8282;
}

.year{
    display: inline;
    width: 10%;
    float: inline-start;
    text-align: center;
    padding-right: 20%;
    overflow: hidden;
    color: #3C7EFF;
}

.panel{
    float: left;
    width: 100%;
    text-align: center;
}

.bar{
    display: none;
    /*display: inline-block;*/
    text-align: center;
}

.botton{
    margin-top: 18em;
    width: 100%;
    float: left;
    padding-left: 5%;
}

.panel-area{
    float: left;
    display: none;
}

.itiran{
    display: none;
    float: left;
}

.list{
    float: left;
}

.flower{
    width: 100%;
}

.flower-list1{
    float: left;
    display: flex;
    text-align: left;
    list-style-type: none;
    padding-left: 40%;
    padding-right: 40%;
    flex-wrap: wrap;
    /*padding-right: 5%;*/
}

/*.flower_right{
    width: 50%;
    float: left;
    display: inline;
    text-align: left;
    list-style-type: none;
    /*padding-right: 5%;
}*/

/*.flower_left{
    width: 50%;
    float: left;
    display: inline;
    text-align: right;
    list-style-type: none;
    /*padding-left: 5%;
}*/

span{
    display: block;
}

footer{
    float: left;
    width: 100%;
    text-align: center;
}