.type-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5vw; 
    
}

.tab{
    display: flex;
    width: 90%;
    height: 100%;
    background-color: white;
    justify-content: space-between;
}

.tablinks{
    opacity: 0.5;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6em 1em;
    border-radius: 5px 5px 0 0;
    background-color: rgb(50, 201, 103);
    color: #fff;
    font-size: .9em;
    text-align: center;
    border: none;
}

.tablinks:hover{
    opacity: 1;
}

.tab-content{
    display: flex;
    width: 100%;
    height: 5vw;
    background-color: white;
    justify-content: center;
}

.filter{
    display: flex;
    width: 90%;
    height: 100%;
    background-color: white;
    justify-content: space-between;
    
}

.type{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.season{
    display: none;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    margin-left: 20%;
}

.map{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.styled{
    display: flex;
}